
.article-main {
    padding: 10px 20px;
    margin: 0;
}

.articles {
    padding: 10px 20px;
}

.articles p {
    white-space: pre-wrap;
    font-size: 1.1rem;

}

.article-header {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
}
.article-footer button {
    margin-inline: 10px;
}

.priority-order-input {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.1rem;
    margin-inline: 10px;
}

.articles-activities-footer {
    display: block;
}

button {
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    margin-block: 10px;
}

.checkbox input {
    width: 2rem;
    cursor: pointer;
}

.article-body {
    white-space: pre-line;
}